h1,h2,h3{
    color: red;
}
.err{
    height: 30px;
    width: 100%;
    border: 2px solid black;
    margin: 10px 0;
    font-size: 24px;
    background-color: green;
    color: white;
    padding-left: 20px;
}